/* position */
.loader-wrapper {
  position: relative;
  height: 100px;
  width: 100px;
  margin-bottom: 15px;
}

$rotation: 30deg;
$pin-width: 20px;

/* pin alignment */
.pin {
  position: absolute;
  height: 25px;
  width: $pin-width;
  overflow: visible;

  use {
    transform-origin: center;
  }
}
.bounce {
  animation: bounce 1.5s;
  animation-iteration-count: infinite;
}
.pin-left {
  top: 9px;
  left: 18px;
  fill: #FFB300;
  transform-origin: 82% 102%;
  animation-delay: -0.5s;

  use {
    transform: rotate(-$rotation);
  }
}
.pin-center {
  top: 5px;
  left: calc(50% - (#{$pin-width} / 2)); // calculate exact center
  fill: #FD1313;
  transform-origin: center 102%;
}
.pin-right {
  top: 11px;
  right: 18px;
  fill: #8BC34A;
  transform-origin: 15% 92%;
  animation-delay: -1s;

  use {
    transform: rotate($rotation);
  }
}
.globe {
  position: absolute;
  bottom: -15px;
  left: 0;
}

/* animations */
@keyframes bounce {
  0%, 5%, 95%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.3);
  }
}
