/* position */
.loader-wrapper {
  position: relative;
  height: 125px;
  width: 115px;
}
.load {
  position: absolute;
}
/* pin alignment */
$rotation: 30deg;
.pin {
  position: absolute;
  height: 45px;
  width: 40px;
  overflow: visible;

  use {
    transform-origin: center;
  }
}
.bounce {
  animation: bounce 1.5s;
  animation-iteration-count: infinite;
}
.pin-left {
  top: 14px;
  left: 3px;
  fill: #FFB300;
  transform-origin: 90% 90%;
  animation-delay: -0.5s;

  use {
    transform: rotate(-$rotation);
  }
}
.pin-center {
  top: 2px;
  left: 38px;
  fill: #FD1313;
  transform-origin: bottom;
}
.pin-right {
  top: 14px;
  right: 2px;
  fill: #8BC34A;
  transform-origin: 10% 90%;
  animation-delay: -1s;

  use {
    transform: rotate($rotation);
  }
}
.globe {
  top: 33px;
  left: 7.5px;
}

/* animations */
@keyframes bounce {
  0%, 5%, 95%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.3);
  }
}
