<v-flex class="filters flex-column pa-2">
  <v-select
    v-model="filters"
    :items="filterItems"
    label="Filter"
    clearable
    multiple
    outlined
    dark
    :dense="$vuetify.breakpoint.smAndDown"
    :hide-details="true"
  >
    <template v-slot:selection="{ attrs, item, selected }">
      <v-chip
        v-bind="attrs"
        :input-value="selected"
        color="secondary"
        :small="$vuetify.breakpoint.smAndDown"
        :ripple="false"
      >
        <span>{{ item === past ? 'Future' : item }}</span>
      </v-chip>
    </template>
  </v-select>
</v-flex>
