<v-flex no-gutters class="filters">
  <v-col no-gutters class="mr-2">
    <v-subheader class="subheader white--text">Filters</v-subheader>
    <div class="filter-actions">
      <v-checkbox
        dark
        dense
        :hide-details="true"
        v-model="unconfirmed"
        label="Hide unconfirmed"
      ></v-checkbox>
      <v-checkbox
        dark
        dense
        :hide-details="true"
        v-model="past"
        label="Hide my past"
      ></v-checkbox>
    </div>
  </v-col>
</v-flex>
