<v-row
  align="center"
  justify="center"
  no-gutters
  class="d-flex fill-height"
>
  <v-col
    md="8"
    sm="6"
    class="d-none d-sm-flex fill-height panel-map"
  >
    <div class="map-text">
      <h1 >Traveling Together<br />With Your Best Nomad Friends</h1>
      <p>See where your Nomad friends are right now, what their plans for the next<br/>
        month or season. Add your plans to share them with those whom you<br />
        loving to spend time with.
      </p>
    </div>
    <div class="photo-credit">
      <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@iambrettzeck?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Brett Zeck"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Photo: Brett Zeck</span></a>
    </div>
  </v-col>
  <v-col
    md="4"
    sm="6"
    xs="12"
    align="center"
    justify="center"
    class="d-flex fill-height panel-cta"
  >
    <v-row>
      <v-col class="wrapper">
        <div class="inner-wrapper" >
          <img class="logo" src="~assets/images/Logo-landing-1.svg" alt="Nomad Plans Logo">
          <!-- <h2 class="mb-4">Nomad Plans</h2>
          <p v-if="isNewUser">Sign up with Facebook to create<br />an account</p>
          <p v-if="!isNewUser">Welcome back!</p> -->
          <auth-button style="color: white;" class="ma-2"></auth-button>
          
          <small>{{ isNewUser ? 'Already' : 'Don\'t' }} have an account?
              <a @click="toggleNewUser">
                <b>Sign {{ isNewUser ? 'In' : 'Up' }}</b>
              </a>
              <span v-if="!isNewUser">
              </span>
            </small>
        </div>
        <div>
            <small v-if="isNewUser" class="legal">By signing up you agree to
                <a @click.stop="showDialog('privacy')">Privacy Policy</a>
                <br />
                and <a @click.stop="showDialog('service')">Terms of Service</a>
                <LegalDialog :tab="legalDialogTab" :visible="legalDialog" @close="hideDialog"></LegalDialog>
              </small>
         
        </div>
      </v-col>
    </v-row>
  </v-col>
</v-row>
