.back-image {
  position: relative;
  background:  url('~assets/images/Landing-left.jpg') center no-repeat;
  background-size: cover;
}

.panel-map {
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  padding-bottom: 10%;
}

.map-text {
  font-family: 'Ubuntu';
  padding: 0 25% 0 10%;
  text-align: left;
  color:white;
}

.map-text-header {
  font-size: 42px;
  font-weight: 500;
}

.map-text-text {
  font-family: 'roboto';
  font-size: 14px;
  font-weight: 300;
}

.photo-credit {
  font-size: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px;
}

.panel-cta {
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--v-primary-darken2);
}

.left-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20%;
}

p, small, h2, h1 {
  user-select: none;
  cursor: default;
}

.auth-button {
  color: white;
  text-transform: unset;
  padding: 0 8px !important;

  .icon {
    height: 24px;
    width: 24px;
    margin-right: 8px;
    padding: 0;
    color: white;
  }
}

@media (max-width: 600px) {
  .panel-cta {
    padding: 50px 25px 25px;
  }
}

small a {
  text-decoration: underline;

  &:hover {
    font-weight: bold;
  }
  &:active {
    font-weight: normal;
  }
}

.logo{
  width: 275px;
  height: 275px;
  margin: 15px 0;
}

