<v-footer fixed app clipped-right class="light-green darken-3 white--text" style="z-index: 6">
  <v-card flat color="transparent" style="width: 100%">
    <v-row align="center">
      <v-flex>
        <v-subheader class="white--text pl-1" style="height: 35px;">Timeline</v-subheader>
        <v-row class="mx-1">
          <v-btn :disabled="!hasPlansYearPrev" small @click="currentYear = prevYear">{{ prevYear }}</v-btn>
          <v-col class="pt-0">
            <v-slider
              class="slider"
              v-model="sliderValue"
              step="1"
              min="1"
              :max="daysInYear - 1"
              thumb-label="always"
              color="white"
              track-color="white"
              thumb-color="secondary"
              :hide-details="true"
            >
              <template v-slot:thumb-label="item">
                {{dayOfYearToDate(item.value)}}
              </template></v-slider>
            <v-row class="labels mr-2">
              <div
                v-for="(month, index) in months"
                v-if="$vuetify.breakpoint.mdAndUp || index % 2 === 0"
                :id="month.toLowerCase()"
              >
                <span @click="setMonth(index)" :class="{ active: selectedMonth === index }">{{month}}</span>
              </div>
            </v-row>
          </v-col>
          <v-btn :disabled="!hasPlansYearNext" small @click="currentYear = nextYear">{{ nextYear }}</v-btn>
        </v-row>
      </v-flex>

      <v-divider :vertical="true" class="ml-1 mr-2 divider"></v-divider>

      <v-flex class="filters flex-column pa-2">
        <v-select
          v-model="filters"
          :items="filterItems"
          label="Filter by likelihood"
          clearable
          multiple
          outlined
          dark
          dense
          :hide-details="true"
        >
          <template v-slot:selection="{ attrs, item, index, select, selected }">
            <v-chip
              v-bind="attrs"
              :input-value="selected"
              color="secondary"
              small
              :ripple="false"
            >
              <span >{{ item }}</span>
            </v-chip>
          </template>
        </v-select>
      </v-flex>
    </v-row>
  </v-card>
</v-footer>
