<v-dialog max-width="600" v-model="show" :fullscreen="$vuetify.breakpoint.xsOnly" transition="dialog-bottom-transition" scrollable>
  <v-card>
    <!-- header -->
    <v-card-title class="pa-0">
      <v-toolbar dark color="primary" class="pr-0">
        <v-toolbar-title>Terms and Conditions and Privacy Policy</v-toolbar-title>
        <v-spacer />
        <v-toolbar-items>
          <v-btn dark text @click="show = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
    </v-card-title>

    <!-- text -->
    <v-card-text class="pa-0">
      <v-tabs v-model="selectedTab" grow fixed>
        <v-tab key="service" href="#tab-service">Terms and Conditions</v-tab>
        <v-tab key="privacy" href="#tab-privacy">Privacy Policy</v-tab>
          <v-tab-item key="service" value="tab-service" class="ma-4">
            <terms-of-service class="scroll-fix"></terms-of-service>
          </v-tab-item>

          <v-tab-item key="privacy" value="tab-privacy" class="ma-4">
            <privacy-policy  class="scroll-fix"></privacy-policy>
          </v-tab-item>
      </v-tabs>
    </v-card-text>

    <!-- footer -->
    <v-card-actions>
      <div class="flex-grow-1"></div>
      <v-btn color="primary darken-1" text @click="show = false">close</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
