<v-flex>
  <v-row no-gutters class="mx-2">
    <v-col class="fit">
      <v-spacer class="h-30"></v-spacer>
      <!-- Previous year Button -->
      <v-btn :disabled="!hasPlansYearPrev" small @click="setYear(prevYear)">{{
        prevYear
      }}</v-btn>
    </v-col>
    <v-col class="mx-1">
      <v-row class="h-30">
        <v-spacer class="h-30"></v-spacer>
        <v-btn text icon tile small color="white" @click="sliderValue -=1">
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
        <!-- input and date picker -->
        <v-menu
          top
          :nudge-top="18"
          :nudge-left="95"
          :close-on-content-click="false"
          v-model="datePickerMenu"
          transition="scale-transition"
          origin="bottom center"
          offset-y
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              class="date-text-field h-30"
              v-model="inputValue"
              single-line
              dense
              dark
              readonly
              v-on="on"
              :hide-details="true"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="datePickerValue"
            @input="datePickerMenu = false"
            no-title
            scrollable
            :show-current="false"
            :min="datePickerMin"
            :max="datePickerMax"
            @change="datePickerChange"
          ></v-date-picker>
        </v-menu>

        <v-btn text icon tile small color="white" @click="sliderValue +=1">
          <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
        <v-spacer class="h-30"></v-spacer>
      </v-row>
      <!-- Slider -->
      <v-slider
        class="slider"
        v-model="sliderValue"
        step="1"
        min="1"
        :max="daysInYear"
        color="white"
        track-color="white"
        thumb-color="secondary"
        :hide-details="true"
      ></v-slider>
      <!-- Month labels -->
      <v-row
        no-gutters
        :class="[{ 'h-30': $vuetify.breakpoint.smAndUp }, 'month-labels']"
      >
        <div
          v-for="(month, index) in months"
          :id="'month-' + (index + 1)"
          @click="setMonth(index)"
          :class="{ active: getMonth === index }"
        >
          {{ month }}
        </div>
      </v-row>
    </v-col>
    <v-col class="fit">
      <v-spacer class="h-30"></v-spacer>
      <!-- Next year Button -->
      <v-btn :disabled="!hasPlansYearNext" small @click="setYear(nextYear)">{{
        nextYear
      }}</v-btn>
    </v-col>
  </v-row>
</v-flex>
