.date-text-field {
  border-color: transparent !important;
  max-width: 100px;
}

.fit {
  width: fit-content;
  flex-grow: 0;
}

.h-30 {
  height: 30px;
}

.slider {
  margin-top: -2px;
}

.month-labels {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 15px;
  color: white;
  font-size: 14px;

  div {
    width: calc(100% / 12);
    cursor: pointer;
    white-space: nowrap;

    &.active {
      color: var(--v-secondary-base);
    }
  }
}

@media (max-width: 699px) {
  .month-labels {
    height: unset;
  }
}

// Show and Hide months logic and sizing
@mixin hideMonths($months) {
  $count: 12 - length($months);

  @each $month in $months {
    #month-#{$month} {
      display: none;
    }
  }

  .month-labels div {
    width: 100% / $count;
  }
}

@media
(max-width: 830px) and (min-width: 700px),
(max-width: 500px) and (min-width: 350px) {
  $months: 2, 4, 6, 8, 10, 12;
  @include hideMonths($months);
}

@media (max-width: 349px) {
  $months: 2, 3, 5, 6, 8, 9, 11, 12;
  @include hideMonths($months);
}
