.date-text-field {
  border-color: transparent !important;
  max-width: 100px;
}

.fit {
  width: fit-content;
  flex-grow: 0;
}

.h-30 {
  height: 30px;
}

.slider {
  margin-top: -2px;
}

.labels {
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;

  div {
    flex: 1;

    span {
      cursor: pointer;

      &.active {
        color: var(--v-secondary-base);
      }
    }
  }
}

@media (max-width: 750px) and (min-width: 600px), (max-width: 350px)  {
  #mar, #jul, #nov {
    display: none;
  }
}

@media (max-width: 599px) {
  .divider {
    display: none !important;
  }
}
