<div class="map-page">
  <transition name="fade">
    <div class="loader" v-if="loading">
      <Loader></Loader>
    </div>
  </transition>
  <GmapMap
    style="width: 100%; height: 100%"
    v-if="$nuxt.isOnline"
    ref="mapRef"
    :center="center"
    :zoom="zoom"
    :options="mapOptions"
    @bounds_changed="boundChange"
    @zoom_changed="zoomChange"
    @center_changed="centerChange"
    @tilesloaded="tilesLoaded"
  >
    <GmapCustomMarker
      :key="index"
      v-for="(plan, index) in myFilteredPlans()"
      :marker="google && new google.maps.LatLng(plan.place.lat(), plan.place.lng())"
      @click.native="markerClicked(plan.id)"
    >
      <Pin :plan="plan"></Pin>
    </GmapCustomMarker>
  </GmapMap>

  <div v-else-if="$nuxt.isOffline">Offline maps coming soon</div>
</div>
