<v-app xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <app-bar></app-bar>
  <side-drawer></side-drawer>
  <v-content>
    <nuxt />
  </v-content>
  <v-footer fixed app clipped-right class="light-green darken-3 white--text" >
    <span>&copy; Nomad Plans 2019</span>
  </v-footer>

  <!-- dialogs -->
  <LegalDialog :visible="legalDialog" @close="closeDialogs"></LegalDialog>
  <InvitesDialog :visible="inviteDialog" @close="closeDialogs"></InvitesDialog>
  <PlanFormDialog :visible="planFormDialog" @close="closeDialogs"></PlanFormDialog>

</v-app>
