<v-menu
  v-model="profileMenu"
  :nudge-top="-18"
  offset-y
>
  <template v-slot:activator="{ on }">
    <v-avatar :size="$vuetify.breakpoint.smAndDown ? 24 : 36" class="ma-2 avatar" v-on="on">
      <transition name="fade" appear>
        <img v-show="imgLoaded" :src="photoURL" alt="user avatar" @load="imgLoaded = true">
      </transition>
      <transition name="fade" appear>
        <v-icon v-show="!imgLoaded" :size="$vuetify.breakpoint.smAndDown ? 24 : 36">mdi-account-circle-outline</v-icon>
      </transition>
    </v-avatar>
  </template>

  <v-card>
    <v-list class="primary pb-0" flat width="380">
      <v-list-item class="pb-2">
        <v-list-item-content>
          <v-list-item-title>{{name}}</v-list-item-title>
          <v-list-item-subtitle>{{email}}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list-item-group class="white">

        <v-list-item target="_blank" href="https://fb.com/nomadplans.co">
          <v-list-item-icon class="mr-4">
            <v-icon color="#4267b2" large>mdi-facebook</v-icon>
          </v-list-item-icon>
          <v-list-item-content>NomadPlans Facebook page</v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item target="_blank" href="https://m.me/nomadplans.co">
          <v-list-item-icon class="mr-4">
            <v-icon color="#0078FF" large>mdi-facebook-messenger</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>NomadPlans Messenger</v-list-item-title>
            <v-list-item-subtitle>Share your feature ideas or bug reports with us</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item @click="showDialogInvite">
          <v-list-item-content class="py-3">
            <v-list-item-title>Invite Friends</v-list-item-title>
            <v-list-item-subtitle>Share NomadPlans with your friends on Facebook</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item @click="showDialogLegal">
          <v-list-item-content class="py-5">
            <v-list-item-title>Legal stuff</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item @click="logout">
          <v-list-item-content class="py-5">
            <v-list-item-title>Log out</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      </v-list-item-group>
    </v-list>
  </v-card>
</v-menu>
