.icon {
  height: 42px;
  width: 42px;
  color: white !important;
}

.icon-small {
  height: 26px;
  width: 26px;
  color: white !important;
  outline: #000066;
}

.i-page {
  background-color: #4267b2;
}

.i-message {
  background-color: #0078FF;
}

.auth-button{
  width: 100px;
}
