<v-menu
  v-model="profileMenu"
  :nudge-width="210"
  :nudge-left="210"
  :nudge-top="-15"
  offset-y
>
  <template v-slot:activator="{ on }">
    <v-avatar :size="36" class="ma-2" v-on="on">
      <img :src="photoURL" alt="user avatar">
    </v-avatar>
  </template>

  <v-card>
    <v-list class="primary">
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>{{name}}</v-list-item-title>
          <v-list-item-subtitle>{{email}}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-divider></v-divider>

    <v-list-item>
      <v-list-item-content>
        <v-btn tile depressed color="transparent" block @click="showDialogInvite">Invite Friends</v-btn>
      </v-list-item-content>
    </v-list-item>
    </v-list>

    <v-divider></v-divider>


    <v-list-item>
      <v-list-item-content>
        <v-btn tile depressed color="transparent" block @click="showDialogLegal">Legal stuff</v-btn>
      </v-list-item-content>
    </v-list-item>
    </v-list>

    <v-divider></v-divider>

    <v-list-item>
      <v-list-item-content>
        <auth-button></auth-button>
      </v-list-item-content>
    </v-list-item>
    </v-list>

    <v-divider></v-divider>

    <v-list-item>
      <v-list-item-content>
        <v-row justify="center">
          <v-btn icon large class="ma-1 i-page">
            <v-icon color="white">mdi-facebook </v-icon>
          </v-btn>

          <v-btn icon large class="ma-1 i-message" >
            <v-icon color="white">mdi-facebook-messenger</v-icon>
          </v-btn>
        </v-row>
      </v-list-item-content>
    </v-list-item>
    </v-list>
  </v-card>
</v-menu>
