body {
  background-color: #F1F1F1;
}

/* google auto complete */
.pac-container {
  margin-top: 15px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 0;
}
.pac-container:after {
  height: 0;
  padding: 0;
  background-image: unset;
}

.pac-item {
  min-height: 48px;
  border: none;
  padding: 0 16px;
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.pac-item-query {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 6px;
}
.pac-item > span:last-child {
  font-size: 14px;
  color: #86bd45;
}

.pac-icon-marker {
  display: none;
}

/* slider text input */
.date-text-field input {
  text-align: center !important;
  cursor: pointer;
  max-height: 22px !important;
}

/* filters input */
.filters .v-input__slot {
  padding: 0 6px !important;
}

.filters .v-label {
  color: white !important;
}

/* confirmed toggle */
.confirmed-toggle .v-btn--active span {
  color: white !important;
}

.confirmed-toggle .v-btn {
  font-weight: bold !important;
  font-size: 1rem !important;
  width: 50%;
}

.confirmed-toggle #toggle-1:not(.v-btn--active)  {
  border-width: 2px !important;
  border-color: #FFCD35 !important;
}


.confirmed-toggle #toggle-2:not(.v-btn--active)  {
  border-width: 2px !important;
  border-color: #A3CF6F !important;
}

/* skeleton loaders */
.v-skeleton-loader {
  background-color: white;
  border-color: white;
  margin-bottom: 24px;
}

.v-skeleton-loader__heading {
  margin: 16px 0 0 16px !important;
}

.v-skeleton-loader:not(.v-skeleton-loader__paragraph) > .v-skeleton-loader__text {
  margin: 10px 16px 15px !important;
}

.v-skeleton-loader__sentences, .v-skeleton-loader__paragraph {
  margin: 0 16px 0 !important;
  padding-top: 5px;
}

.v-skeleton-loader__actions {
  display: flex;
  justify-content: space-between;
  padding: 16px !important;
}

/* tabs fix wtf */
.v-slide-group__prev--disabled {
  display: none !important;
}
