<v-dialog max-width="600" v-model="show" :fullscreen="$vuetify.breakpoint.xsOnly" transition="dialog-bottom-transition" scrollable>
  <v-card>
    <!-- header -->
    <v-card-title class="pa-0">
      <v-toolbar light color="primary" fixed class="pr-o">
        <v-toolbar-title>Create new plan</v-toolbar-title>
        <v-spacer />
        <v-toolbar-items>
          <v-btn light text @click="show = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
    </v-card-title>

    <!-- text -->
    <v-card-text class="pa-0 ma-4">
      <h1>Invite your friend</h1>
      <p>where our awesome invites will go</p>
    </v-card-text>

    <!-- footer -->
    <v-card-actions>
      <div class="flex-grow-1"></div>
      <v-btn color="green darken-1" text @click="show = false">close</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
