<v-row
  align="center"
  justify="center"
  no-gutters
  class="d-flex fill-height"
>
  <v-col
    md="8"
    sm="6"
    class="d-none d-sm-flex fill-height panel-map "
  >
    <div class="map-text ">
      <h1 >Traveling Together<br />With Your Best Nomad Friends</h1>
      <p>See where your Nomad friends are right now, what their plans for the next<br/>
        month or season. Track and share your our trip plans to travel with those whom you<br />
        are loving to spend time with more often.
      </p>
    </div>
    <div class="photo-credit">
      <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@iambrettzeck?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Brett Zeck"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Photo: Brett Zeck</span></a>
    </div>
  </v-col>
  <v-col
    md="4"
    sm="6"
    xs="12"
    align="center"
    justify="center"
    class="d-flex fill-height panel-cta"
  >
    <v-row>
      <v-col class="wrapper">
        <div class="inner-wrapper" >
          <img class="we-image" src="~assets/images/NP-team.jpg" alt="NP team">
          <h2 class="mb-4 primary--text text--darken-3">Nomad Plans</h2>
          <p class="caption white--text primary pa-3 px-10" style="width: -webkit-fill-available;"> - Hey, <i>%Coworker%</i>! </br>
            Where are you going next?
          </p>

          <p style="font-size: 14px">We are building a free and helpful tool </br> 
            for tracking and sharing your Nomad trip plans
            with your Facebook friends. 🤗</br></br>
            We hope it will increase your chances to meet
            each other again on the road! ✈️🚗🚂⛴ </p>
 

          <p class="subtitle-2">... and we need your help with Beta 🙏</p>
           
          <div class="d-flex flex-row">
            <v-text-field
              ref="email"
              type="email"
              required
              outlined
              label="Email"
              style="width:270px;"
              class="px-2"
            ></v-text-field>
            <v-btn x-large class="white--text" color="amber darken-1"  @click="saveEmail" :loading="submitLoading">{{ 'save'}}</v-btn>

          </div>

          <p style="font-size: 12px">Leave your email address here and we'll notify you once it is ready.
           Promising not to use it for other purposes 😐 </p>

          <p class="pa=7 blue--text" style="font-size: 12px"> 
            <v-btn icon large class="ma-1 i-page blue">
                <a style="text-decoration: none;" href="https://fb.com/nomadplans.co" target="_blank"><v-icon color="white">mdi-facebook </v-icon></a>
            </v-btn></br>
            Or follow us on Facebook
          
          </p>

          <!-- <v-btn @click="$router.push('/login')">Go to Login</v-btn> -->

        </div>
      </v-col>
    </v-row>
  </v-col>
</v-row>
