.panel-map {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('~assets/images/wood-map.jpg');
  // background: center no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.we-image{
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin: 20px;
}

.map-text {
  padding: 20px;
  text-align: center;
  color:white;
}

.photo-credit {
  position: absolute;
  bottom: 0;
  left: 0;
}

.panel-cta {
  background-color: white;
  // color: var(--v-primary-darken3);
  padding: 25px 25px 25px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.inner-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

p, small, h2 {
  user-select: none;
  cursor: default;
}

@media (max-width: 600px) {
  .panel-cta {
    padding: 25px 25px 25px;
  }
}

small a {
  text-decoration: underline;

  &:hover {
    font-weight: bold;
  }
  &:active {
    font-weight: normal;
  }
}
