<v-app-bar fixed app clipped-right color="primaryDark" class="pr-1">
  <v-avatar class="ml-1 mr-2 d-none d-sm-inline">
    <fa class="icon i-globe" :icon="iconGlobe" />
  </v-avatar>
  <v-toolbar-title v-text="title" />
  <v-spacer />
  <!--  buttons for medium and up -->
  <v-btn class="ma-2 d-none d-sm-inline" text @click="showDialogPlanForm">
    <v-icon left>mdi-plus-circle-outline</v-icon> NEW PLAN
  </v-btn>
  <v-btn class="ma-2 d-none d-sm-inline" text @click="toggleSideDrawer">PLANS</v-btn>
  <!-- buttons form sm and down -->
  <v-btn
    icon
    small
    class="ma-2 d-sm-none"
    color="transparent"
    @click="showDialogPlanForm"
  >
    <fa class="icon-small" :icon="iconAdd" />
  </v-btn>
  <v-btn class="ma-2 d-sm-none" icon color="transparent" small @click="toggleSideDrawer">
    <fa class="icon-small" :icon="iconMap" />
  </v-btn>

  <!-- dropdown -->
  <!-- TODO this should be separate component -->
  <v-menu
    v-model="profileMenu"
    :nudge-width="210"
    :nudge-left="210"
    :nudge-top="-15"
    offset-y
  >
    <template v-slot:activator="{ on }">
      <v-btn icon class="ma-2" color="transparent" v-on="on">
        <v-avatar size="36">
          <img :src="photoURL" alt="user avatar">
        </v-avatar>
      </v-btn>
    </template>

    <v-card>
      <v-list color="secondary">
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>{{name}}</v-list-item-title>
            <v-list-item-subtitle>{{email}}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list-item>
        <v-list-item-content>
          <v-btn tile depressed color="transparent" block @click="showDialogInvite">Send Invites</v-btn>
        </v-list-item-content>
      </v-list-item>
      </v-list>

      <v-divider></v-divider>


      <v-list-item>
        <v-list-item-content>
          <v-btn tile depressed color="transparent" block @click="showDialogLegal">Legal stuff</v-btn>
        </v-list-item-content>
      </v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list-item>
        <v-list-item-content>
          <auth-button></auth-button>
        </v-list-item-content>
      </v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list-item>
        <v-list-item-content>
          <v-row justify="center">
            <v-btn icon large class="ma-1" >
              <fa class="icon i-page" :icon="iconPage" />
            </v-btn>

            <v-btn icon large class="ma-1" >
              <fa class="icon i-message" :icon="iconMessage" />
            </v-btn>
          </v-row>
        </v-list-item-content>
      </v-list-item>
      </v-list>
    </v-card>
  </v-menu>

</v-app-bar>
