<v-app-bar dark fixed app clipped-right :collapse="false" class="pr-1 light-green darken-3">
  <!-- <v-avatar class="ml-1 mr-2 d-none d-sm-inline">
    <v-icon size="42">mdi-earth</v-icon>
  </v-avatar> -->
  <img class="logo mx-3" src="~assets/images/Logo-appbar-2.png" alt="Logo">
  <v-toolbar-title v-text="title" class="logo-text" />
  <v-spacer />
  <!--  buttons for medium and up -->
  <v-btn class="ma-2 d-none d-sm-inline" text @click="showDialogPlanForm">
    <v-icon left> mdi-plus-circle-outline</v-icon> NEW PLAN
  </v-btn>
  <v-btn
    v-blur
    text
    class="ma-2 d-none d-sm-inline"
    :class="{ active: showSideDrawer }"
    @click="toggleSideDrawer"
  >PLANS</v-btn>
  <!-- buttons form sm and down -->
  <v-btn
    icon
    small
    class="ma-2 my-3 d-sm-none"
    color="transparent"
    @click="showDialogPlanForm"
    >
    <v-icon color="white" size="24">mdi-plus-circle-outline</v-icon>
  </v-btn>

  <v-btn
    icon
    small
    class="mx-2 my-3 d-sm-none"
    color="transparent"
    @click="toggleSideDrawer"
    >
    <v-icon color="white" size="24">{{ showSideDrawer ? 'mdi-map-outline' : 'mdi-format-list-bulleted'}}</v-icon>
  </v-btn>

  <ProfileMenu />

</v-app-bar>
