.icon {
  height: 44px;
  width: 44px;
  color: white;
}

.icon-small {
  height: 26px;
  width: 26px;
  color: white;
  outline: #000066;
}

.i-page {
  color: #4267b2;
}

.i-message {
  color: #0078FF;
}

.i-globe {
  color: red;
}
