<v-card
  width="100%"
  class="mb-6"
  :color="isHighlighted ? 'amber lighten-4' : 'white'"
>
  <v-list-item @click="planClicked" :ripple="false">
    <v-list-item-content>
      <v-list-item-title class="headline">{{ placeName }}</v-list-item-title>
      <v-list-item-subtitle>
        <b>{{ dateRange }}</b>
        <small class="ml-2">{{ dateDistance }}</small>
      </v-list-item-subtitle>
    </v-list-item-content>
  </v-list-item>

  <v-card-text
    :class="[{ 'pt-1': plan.description }, 'pb-0']"
    v-if="plan.description"
    @click="planClicked"
  >
    <!-- description -->
    <v-hover v-slot:default="{ hover }">
      <Clamp tag="p" class="mb-0" autoresize :max-lines="3" :expanded="hover">{{
        plan.description
      }}</Clamp>
    </v-hover>
  </v-card-text>

  <v-card-actions>
    <v-btn
      class="secondary--text text--darken-1"
      text
      :disabled="confirmed"
      @click="confirmPlan"
      :loading="confirmLoading"
    >
      {{ confirmed ? 'confirmed' : 'confirm' }}
    </v-btn>
    <v-spacer></v-spacer>
    <v-btn text @click="edit">edit</v-btn>
  </v-card-actions>
</v-card>
