<v-card width="100%" class="mb-6">
  <v-list-item>
    <v-list-item-content>
      <v-list-item-title class="headline">{{ plan.place.name }}</v-list-item-title>
      <v-list-item-subtitle>
        <b>{{ date }}</b>
        <small v-if="plan.startAt && plan.endAt" class="ml-2">{{ $dateFns.formatDistanceStrict(new Date(plan.startAt), new Date(plan.endAt)) }}</small>
      </v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-avatar
      size="64"
      color="grey"
      v-if="userTripId"
    >
    </v-list-item-avatar>
  </v-list-item>

  <v-card-text :class="{ 'pt-0': !plan.description, 'pt-1': plan.description }">
    <!-- description -->
    <p class="mb-1" :class="{ 'short-description': hasLongDescription && showMoreDescription }" v-if="plan.description">
      {{ description }}
      <v-icon @click="toggleDescription" small class="mr-n2" v-if="hasLongDescription">
        {{ showMoreDescription ? 'mdi-chevron-down' : 'mdi-chevron-up' }}
      </v-icon>
    </p>
    <!-- friends list -->
    <v-row class="mx-0">
      <v-avatar v-for="friend of friendsList" :key="friend.id" size="36" class="mr-4 mt-4">
        <img :src="friend.profileUrl" :alt="friend.name">
      </v-avatar>
      <v-btn
        v-if="hasLotsOfFriends"
        icon
        height="36"
        outlined
        @click="toggleFriendsList"
        class="mt-4"
        style="font-size: 18px;"
        :class="{ 'pr-1': showMoreFriends}"
      >
        <template v-if="showMoreFriends">
          <v-icon small class="mr-n2">mdi-plus</v-icon>{{moreFriendsCount}}
        </template>
        <template v-if="!showMoreFriends">
          <v-icon small>mdi-minus</v-icon>
        </template>
      </v-btn>
    </v-row>
  </v-card-text>

  <v-card-actions>
    <v-btn class="secondary--text text--darken-1" text :disabled="confirmed" @click="confirmPlan" :loading="confirmLoading">
      {{ confirmed ? 'confirmed' : 'confirm' }}
    </v-btn>
    <v-spacer></v-spacer>
    <v-btn text @click="edit">edit</v-btn>
  </v-card-actions>
</v-card>
