@import '~/assets/variables';

// fix for left margin
.v-tabs-bar.v-tabs-bar--is-mobile .v-tab {
  margin-left: 0px !important;
}
.v-navigation-drawer__content {
  overflow-y: hidden;
}

.side-drawer{
  height: 100%;
  background-color: #f5f5f6;
  overflow-y: auto;
  padding-top: $app-bar-height-small;
}

.side-drawer-wrapper {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
}

.nav-drawer {
  top: $app-bar-height-small !important;
}

@media (min-width: 960px) {
 .nav-drawer {
    top: $app-bar-height-large !important;
  }
  .side-drawer {
    padding-top: $app-bar-height-large;
  }
}
